@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
a:visited {
    color: rgb(179, 128, 229);
    font-weight: bold;
}
a:link {
    color: rgb(179, 128, 229);
    font-weight: bold;
    outline: black 2px;
}
a:hover{
    color: rgb(197, 139, 255)
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    top: 100%;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
.tooltip:hover .tooltiptext {
    opacity: 1;
}
.content {
    opacity: 0;
    animation: fadeIn 2s forwards;
    display: flex;
    border-bottom: solid purple;
    margin-bottom: 4%;
}
#content2 {
    animation-delay: 0.5s;
}
#content3 {
    animation-delay: 1s;
}
#content4 {
    animation-delay: 1.5s;
    border-bottom: none;
}
#links:hover {
    font-size: x-large;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
body {
    margin: 0;
    padding: 0;
    background: url("backgrounds/roseyardblur1.jpg") repeat-y;
    background-size: cover;       
    background-position: center;  
    background-attachment: fixed; 
}
a {
    text-decoration: none;
}
#top-div {
    position: relative;
    display: flex;
    padding: 1%;
    padding-bottom: 1%;
    width: 98%;
}
#header {
    padding-right: 16px;
    font-family: "Gothic A1", sans-serif;
    font-size: 30px;
    margin-left: 6%;
}
#links {
    padding-right: 4%;
    padding-left: 0.5%;
    padding-top: 0.5%;
    height: 40px;
    font-family: "Gothic A1", sans-serif;
    font-size: larger;
    transition: font-size 0.5s;
}
#content-div {
    box-shadow: 0px 1px 6px rgb(109, 108, 108);
    border-left: solid rgb(56, 56, 56) 2px;
    border-top: solid rgb(56, 56, 56) 2px;
    border-bottom: solid rgb(56, 56, 56) 2px;
    background-color: rgb(245, 245, 245);
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    width: 82.89%;
    height: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 1;
    margin-left: 15%;
}
#footer-div-top {
    background-color: rgb(56, 56, 56);
    padding-top: 0.25%;
    height: 50%;
}
#footer-div-bottom {
    background-color: rgb(156, 83, 224);
    padding-top: 1%;
    height: 50%;
    padding-left: 85%;
    padding-bottom: 1%;
}