@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
a:visited {
    color: rgb(179, 128, 229);
    font-weight: bold;
}
a:link {
    color: rgb(179, 128, 229);
    font-weight: bold;
    outline: black 2px;
}
a:hover{
    color: rgb(197, 139, 255);
}
map:hover {
    color: red;
}
body {
    margin: 0;
    padding: 0;
    background: url("backgrounds/roseyardblur4.jpg") repeat-y;
    background-size: cover;       
    background-position: center;  
    background-attachment: fixed; 
}
a {
    text-decoration: none;
}
#links:hover {
    font-size: x-large;
}
#top-div {
    position: relative;
    display: flex;
    padding: 1%;
    padding-bottom: 1%;
    width: 98%;
}
#header {
    padding-right: 16px;
    font-family: "Gothic A1", sans-serif;
    font-size: 30px;
    margin-left: 6%;
}
#links {
    padding-right: 4%;
    padding-left: 0.5%;
    padding-top: 0.5%;
    height: 40px;
    font-family: "Gothic A1", sans-serif;
    font-size: larger;
    transition: font-size 0.5s;
}
#content-div {
    box-shadow: 0px 1px 6px rgb(109, 108, 108);
    border-left: solid rgb(56, 56, 56) 2px;
    border-top: solid rgb(56, 56, 56) 2px;
    border-bottom: solid rgb(56, 56, 56) 2px;
    background-color: rgb(245, 245, 245);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    width: 82.89%;
    height: 100%;
    padding: 1%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
    margin-top: 1.5%;
    margin-bottom: 5%;
    border-bottom: solid rgb(102, 102, 102);
    margin-left: 15%;
}
#map {
    width: 600px;
}
#descriptions-div {
    margin-left: 2%;
    width: 25%;
    height: 440px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 1%;
    padding: 1%;
    border-left: solid rgb(102, 102, 102);
    border-radius: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#footer-div-top {
    background-color: rgb(56, 56, 56);
    padding-top: 0.25%;
    height: 50%;
}
#footer-div-bottom {
    background-color: rgb(156, 83, 224);
    padding-top: 1%;
    height: 50%;
    padding-left: 85%;
    padding-bottom: 1%;
}